<tr data-id="{{id}}">
	<td><span>{{tagName}}</span></td>
	<td><span>{{timeAmount}}</span></td>
	<td><span>{{timeUnit}}</span></td>
	<td><span>{{hasJob}}</span></td>
	<td><a class="icon-delete has-tooltip" title="{{deleteString}}"></a></td>
<tr>
